<section>
  <h1>Test <code>&lt;progress/&gt;</code> Label</h1>
  <progress value=70 max=100></progress>
</section>

<section>
  <h1>Test <code>&lt;meter/&gt;</code> Label</h1>
  <meter min=0 max=100 value=70></meter>
</section>

<section>
  <h1>Test <code>&lt;time/&gt;</code> Label</h1>

  <p>
    我们在每天早上
    <time>9:00</time>
    开始营业。
  </p>
</section>

<section>
  <h1>Test <code>&lt;command/&gt;</code> Label</h1>

  <p>
    <command onclick=console.log("clicked") type=command label=cut>Click me!</command>
  </p>
</section>

<section>
  <h1>Test <code>&lt;details/&gt;</code> Label</h1>

  <p>
    <details>
      <summary>HTML 5</summary>
      This document teaches you everything you have to learn about HTML 5.
    </details>
  </p>
</section>

<section>
  <h1>Test <code>&lt;datelist/&gt;</code> Label</h1>

  <p>
    <datalist>
      <option>data1</option>
      <option>data2</option>
      <option>data3</option>
      <option>data4</option>
      <option>data5</option>
    </datalist>
  </p>
</section>

<section>
  <h1>Test <code>&lt;keygen/&gt;</code> Label</h1>

  <p>
    <keygen/>
  </p>
</section>

<section>
  <h1>input</h1>

  <p>
    <input type="email"/><br/>
    <input type="range"/><br/>
    <input type="number"/><br/>
    <input type="url"/><br/>
    <input type="date"/><br/>
    <input type="week"/><br/>
    <input type="month"/><br/>
    <input type="year"/><br/>
    <input type="time"/><br/>
    <input type="datetime"/><br/>
    <input type="datetime-local"/><br/>
  </p>
</section>
